.questions {
    padding-bottom: 100px;
    .questions__container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 55px;
        margin: auto;
        width: $max-width-8;
        align-items: baseline;

        @media (max-width: $tablet){
            grid-template-columns: 1fr;
        }
        .questions__left {
            margin-top: 128px;
            .title-small {
                font-family: $fontFamily-1;
                font-style: normal;
                font-weight: $weight-3;
                font-size: $size-8;
                line-height: 110%;
                color: $secondary;
                margin-bottom: 0;
            }

            .title {
                font-family: $primary;
                font-style: normal;
                font-weight: $weight-5;
                font-size: 40px;
                line-height: 110%;
                color: $primary;
                margin-top: 4px;
                margin-bottom: 32px;
            }

            .description {
                font-family: $fontFamily-1;
                font-style: normal;
                font-weight: $weight-6;
                font-size: $size-6;
                line-height: 150%;
                color: $primary;
                margin-bottom: 32px;
            }

            .questions__link {
                background: #3884FC;
                border: 1px solid #3884FC;
                border-radius: 10px;
                padding: 9.5px $padding-2;
                display: flex;
                align-items: center; 
                width: fit-content; 
                    
                &::after {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.97472 4.55806C10.2188 4.31398 10.6145 4.31398 10.8586 4.55806L15.8586 9.55806C16.1027 9.80214 16.1027 10.1979 15.8586 10.4419L10.8586 15.4419C10.6145 15.686 10.2188 15.686 9.97472 15.4419C9.73065 15.1979 9.73065 14.8021 9.97472 14.5581L13.9078 10.625H5C4.65482 10.625 4.375 10.3452 4.375 10C4.375 9.65482 4.65482 9.375 5 9.375H13.9078L9.97472 5.44194C9.73065 5.19786 9.73065 4.80214 9.97472 4.55806Z' fill='%23F4F4F4'/%3E%3C/svg%3E%0A");
                    margin-left: 9px;
                }

                .link {
                    font-family: $fontFamily-1;
                    font-style: normal;
                    font-weight: $weight-3;
                    font-size: $size-5;
                    line-height: 150%;
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}