// WIDTHS 
$max-width-1: 60%;
$max-width-2: 65%;
$max-width-3: 70%;
$max-width-4: 80%;
$max-width-5: 85%;
$max-width-7: 90%;
$max-width-8: 95%;
$max-width-9: 97%;
$max-width-10: 100%;


// SCREEN SIZES
$desktop-1: 1280px;
$desktop-2: 1366px;
$desktop-3: 1666px;
$desktop-4: 1920px;

$mobile: 786px;
$tablet: 1024px;


// FONT FAMILY
$fontFamily-1: 'Mulish', sans-serif;


// WEIGHT
$weight-1: 300;
$weight-2: 400;
$weight-3: 700;
$weight-4: 800;
$weight-5: 900;
$weight-6: 600;



// COLORS
$primary: #1C2A49;
$secondary: #3884FC;
$tertiary: #25D366;
// $tertiary: ;

//  OTHER COLORS 
$white: #fdfdfd;
$red: #E84040;
// $black: ;


// FONT SIZES
$size-1: 10.5px;
$size-2: 11px;
$size-3: 12px;
$size-4: 13px;
$size-5: 14px;
$size-6: 15px;
$size-7: 16px;
$size-8: 18px;
$size-9: 20px;
$size-10: 22px;
$size-11: 24px;
$size-12: 28px;
$size-13: 32px;
$size-14: 48px;


// PADDING
$padding-1: 10px;
$padding-2: 20px;
$padding-3: 30px;
$padding-4: 40px;
$padding-5: 50px;
$padding-6: 60px;
$padding-7: 70px;
$padding-7: 80px;
$padding-7: 90px;
$padding-7: 100px;


// MARGIN
$margin-1: 10px;
$margin-2: 20px;
$margin-3: 30px;
$margin-4: 40px;
$margin-5: 50px;
$margin-6: 60px;
$margin-7: 70px;
$margin-7: 80px;
$margin-7: 90px;
$margin-7: 100px;


$icon-email: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.2365 14.2843C12.4592 13.9662 12.8976 13.8888 13.2157 14.1115L17.5 17.1105L21.7843 14.1115C22.1024 13.8888 22.5408 13.9662 22.7635 14.2843C22.9862 14.6025 22.9088 15.0409 22.5907 15.2636L17.9032 18.5448C17.6611 18.7143 17.3389 18.7143 17.0968 18.5448L12.4093 15.2636C12.0912 15.0409 12.0138 14.6025 12.2365 14.2843Z' fill='%23F4F4F4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 11.6406C9.6892 11.6406 9.39113 11.7641 9.17136 11.9839C8.95159 12.2036 8.82812 12.5017 8.82812 12.8125V22.1875C8.82812 22.4983 8.95159 22.7964 9.17136 23.0161C9.39113 23.2359 9.6892 23.3594 10 23.3594H25C25.3108 23.3594 25.6089 23.2359 25.8286 23.0161C26.0484 22.7964 26.1719 22.4983 26.1719 22.1875V12.8125C26.1719 12.5017 26.0484 12.2036 25.8286 11.9839C25.6089 11.7641 25.3108 11.6406 25 11.6406H10ZM8.17699 10.9895C8.66048 10.506 9.31624 10.2344 10 10.2344H25C25.6838 10.2344 26.3395 10.506 26.823 10.9895C27.3065 11.473 27.5781 12.1287 27.5781 12.8125V22.1875C27.5781 22.8713 27.3065 23.527 26.823 24.0105C26.3395 24.494 25.6838 24.7656 25 24.7656H10C9.31624 24.7656 8.66048 24.494 8.17699 24.0105C7.6935 23.527 7.42188 22.8713 7.42188 22.1875V12.8125C7.42188 12.1287 7.6935 11.473 8.17699 10.9895Z' fill='%23F4F4F4'/%3E%3Crect x='0.625' y='0.625' width='33.75' height='33.75' rx='4.375' stroke='%233884FC' stroke-width='1.25'/%3E%3C/svg%3E%0A");
$icon-linkedin: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.3438 19.9245V27.0341C27.3438 27.2087 27.1941 27.3584 27.0195 27.3584H23.3524C23.1778 27.3584 23.0281 27.2087 23.0281 27.0341V20.4234C23.0281 18.6772 22.4045 17.4798 20.8329 17.4798C19.6355 17.4798 18.937 18.2781 18.6127 19.0514C18.488 19.3258 18.463 19.7249 18.463 20.0991V27.0341C18.463 27.2087 18.3134 27.3584 18.1387 27.3584H14.4966C14.322 27.3584 14.1723 27.2087 14.1723 27.0341C14.1723 25.2629 14.2222 16.7065 14.1723 14.7108C14.1723 14.5362 14.322 14.3865 14.4966 14.3865H18.1637C18.3383 14.3865 18.488 14.5362 18.488 14.7108V16.2325C18.488 16.2574 18.463 16.2574 18.463 16.2824H18.488V16.2325C19.0617 15.3594 20.0845 14.0872 22.3795 14.0872C25.2234 14.0872 27.3438 15.9581 27.3438 19.9245ZM7.78621 27.3833H11.4533C11.6279 27.3833 11.7775 27.2336 11.7775 27.059V14.7108C11.7775 14.5362 11.6279 14.3865 11.4533 14.3865H7.78621C7.61159 14.3865 7.46191 14.5362 7.46191 14.7108V27.059C7.48686 27.2336 7.61159 27.3833 7.78621 27.3833Z' fill='%23F4F4F4'/%3E%3Cpath d='M9.50746 12.7649C10.7887 12.7649 11.8274 11.7262 11.8274 10.445C11.8274 9.16368 10.7887 8.125 9.50746 8.125C8.22618 8.125 7.1875 9.16368 7.1875 10.445C7.1875 11.7262 8.22618 12.7649 9.50746 12.7649Z' fill='%23F4F4F4'/%3E%3Crect x='0.625' y='0.625' width='33.75' height='33.75' rx='4.375' stroke='%233884FC' stroke-width='1.25'/%3E%3C/svg%3E ");
$icon-whatsapp: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.2439 7.1875C11.6933 7.1875 7.1875 11.6933 7.1875 17.2439C7.1875 19.2029 7.73168 21.0749 8.79826 22.7074L7.27457 26.0813C7.14397 26.386 7.1875 26.756 7.40517 27.0172C7.57931 27.2131 7.81874 27.322 8.07995 27.322C8.16702 27.322 8.23232 27.322 8.31938 27.3002L12.5422 26.1466C14.0006 26.9302 15.6331 27.3438 17.2874 27.3438C22.838 27.3438 27.3438 22.838 27.3438 17.2874C27.3002 11.6933 22.7944 7.1875 17.2439 7.1875ZM17.2439 25.5589C15.7637 25.5589 14.3271 25.167 13.0646 24.427C12.934 24.3399 12.7816 24.2964 12.6293 24.2964C12.5422 24.2964 12.4769 24.2964 12.3898 24.3181L9.62541 25.08L10.5832 22.9686C10.7138 22.6856 10.6702 22.3373 10.4961 22.0979C9.47304 20.683 8.92886 19.007 8.92886 17.2439C8.92886 12.6728 12.6728 8.92886 17.2439 8.92886C21.8149 8.92886 25.5589 12.651 25.5589 17.2439C25.5589 21.8149 21.8367 25.5589 17.2439 25.5589Z' fill='%23F4F4F4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.1183 18.7459C20.7048 18.4847 20.1388 18.2017 19.6599 18.4194C19.2899 18.5717 19.0287 19.1812 18.7893 19.486C18.6587 19.6383 18.5063 19.6601 18.3104 19.5948C16.8738 19.0288 15.7854 18.0711 15.0018 16.7651C14.8712 16.5692 14.893 16.395 15.0453 16.1991C15.2848 15.9162 15.5895 15.5897 15.6548 15.2196C15.7201 14.8496 15.546 14.3925 15.3936 14.066C15.1977 13.6306 14.98 13.0211 14.5447 12.7817C14.1529 12.564 13.6305 12.6729 13.2822 12.9776C12.6727 13.4783 12.368 14.2619 12.3898 15.0237C12.3898 15.2414 12.4115 15.4591 12.4768 15.6767C12.6074 16.1774 12.8251 16.6562 13.1081 17.1133C13.304 17.4616 13.5216 17.7881 13.7611 18.0929C14.5229 19.1377 15.4807 20.0301 16.569 20.7049C17.1132 21.0314 17.7227 21.3361 18.3322 21.532C19.0287 21.7497 19.6382 21.9892 20.3783 21.8586C21.1619 21.7062 21.9237 21.2273 22.2284 20.4872C22.3155 20.2696 22.3591 20.0084 22.3155 19.7907C22.1631 19.2683 21.5101 18.9853 21.1183 18.7459Z' fill='%23F4F4F4'/%3E%3Crect x='0.625' y='0.625' width='33.75' height='33.75' rx='4.375' stroke='%233884FC' stroke-width='1.25'/%3E%3C/svg%3E%0A");