.header-privacy {
    width: 100%;
    padding: 64px 24px;
    background: $primary;
    text-align: center;

    h1 {
        font-size: $size-14;
        font-weight: $weight-5;
        color: $white;
    }
}

.content-privacy {
    margin: 64px 0;

    .content__container {
        max-width: $max-width-1;
        margin: 0 auto;

        @media (max-width: $tablet){
            max-width: $max-width-10;
            padding: 0 16px;
        }

        h2, p, li {
            color: $primary;
        }

        h2 {
            font-size: $size-12;
            font-weight: $weight-4;
        }
    }
}