.contact {
    margin: 0 auto;
    width: 50%;
    display: inline;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    .form {
        padding: 32px;
        width: 597px;
        height: auto;
        left: 976px;
        top: 5080px;
        background: #0b0b0b;
        border-radius: 10px;

        @media (max-width: $tablet){
            width: 100%;
            height: auto;
            padding: 32px 13px;
        }

        .description {
            font-family: $fontFamily-1;
            font-style: normal;
            font-weight: $weight-6;
            font-size: 13.5px;
            line-height: 150%;
            color: $white; 

            a {
                color: $white;
                font-weight: $weight-4;
            }
        }

        .btn-send {
            background: $secondary;
            border: 1px solid $secondary;
            border-radius: 10px;
            width: 100%;
            font-family: $fontFamily-1;
            font-style: normal;
            font-weight: $weight-3;
            font-size: $size-7;
            line-height: 150%;
            color: $white;
            padding: 13px;
            cursor: pointer;
        }

        .form-control {
            width: 533px;
            height: 50px;
            background: rgba(106, 164, 255, 0.2);
            border: none;
            border-radius: 5px;
            width: 100%;
            font-family: $fontFamily-1;
            font-style: normal;
            font-weight: $weight-6;
            font-size: 13.5px;
            line-height: 150%;
            color: $white;
            outline: none;
            padding-left: $padding-1;
            margin-bottom: 24px;
            margin-top: 8px;

            &::placeholder {
                color: $white;
            }

            option {
                background: $primary;
            }
        }

        .form-control-textarea {
            width: 533px;
            height: 150px;
            background: rgba(106, 164, 255, 0.2);
            border: none;
            border-radius: 5px;
            width: 100%;
            font-family: $fontFamily-1;
            font-style: normal;
            font-weight: $weight-6;
            font-size: 13.5px;
            line-height: 150%;
            color: $white;
            outline: none;
            padding-top: $padding-1;
            padding-left: $padding-1;
            margin-bottom: 24px;
            margin-top: 8px;

            &::placeholder {
                color: $white;
            }
        }

        label {
            font-family: $fontFamily-1;
            font-style: normal;
            font-weight: $weight-6;
            font-size: $size-6;
            line-height: 150%;
            color: $white;
        }
    }

    .checkbox {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;

        input {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        label {
            position: relative;
            padding-left: 2.2em;
            display: inline-block;

            @media (max-width: $tablet) {
                white-space: nowrap;
            }

            &::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 25px;
                width: 25px;
                background: rgba(106, 164, 255, 0.2);
                margin-right: 0.5em;
                border: none;
                border-radius: 5px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
                transition: all 0.2s ease;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
            }

            &::after {
                content: "\2713";
                position: absolute;
                top: 50%;
                left: 0.75em;
                transform: translate(-50%, -50%);
                font-size: 1em;
                color: #FFF;
                opacity: 0;
                transition: all 0.2s ease;
            }

            &:focus::before, .checkbox &:hover::before {
                background: #DDD;
            }

        }
    }

    .checkbox input:checked + label::before {
        background: $primary;
        border-color: $primary;
    }

    .checkbox input:checked + label::after {
        opacity: 1;
    }
      
}



