<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="nome" placeholder="Nome Completo"/>
        <input type="email" name="email" placeholder="exemplo@gmail.com"/>
        <input type="tel" name="telefone" placeholder="(11)223344556"/>
        <input type="password" name="senha" placeholder="********"/>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>